.species-card {
    background-color: var(--background-color-2);
    padding: 0.5em;
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
}

.species-card + .species-card {
    margin-top: 1em;
}

.species-card > section {
    flex-grow: 1;
    max-width: 49.5%;
}

.species-card > section > h2 {
    margin: 0;
}

.species-card > section > .sci {
    margin: 0;
    font-style: italic;
    font-family: serif;
    font-size: smaller;
}

.species-card > section > p {
    margin: 0.5em 0;
}

.species-card > .pswp-gallery {
    max-width: 49.5%;
    flex-grow: 0;
}

.species-card > .pswp-gallery > a > img {
    max-width: 100%;
    object-fit: scale-down;
}



.plant-card {
    background-color: var(--background-color-2);
    padding: 0.5em;
}

.plant-card + .plant-card {
    margin-top: 1em;
}

.plant-card > section > h2 {
    margin: 0;
}

.plant-card > section > .gen {
    margin: 0;
    font-family: monospace;
    font-size: medium;
}

.plant-card > section > p {
    margin: 0.5em 0;
}
