.project-card {
    background-color: var(--background-color-2);
    padding: 0.5em;
    display: block;
}

.project-card + .project-card {
    margin-top: 1em;
}

.project-card > h2 {
    margin: 0 0 0.25em 0;
}

.project-card > h2:hover {
    text-decoration: underline;
}

.project-card > p {
    margin: 0.5em 0;
}

.icons-row {
    width: 100%;
    margin-top: 0.5em;
}

.lang-icon {
    max-height: 2em;
}

.lang-icon:not(:last-child) {
    margin-right: 0.5em;
}

pre {
    padding: 0.25em !important;
}
